<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GridSuite">
  <test thread-count="5" name="Node1">
  	<parameter name="browser" value="firefox"/>
    <parameter name="port" value="http://192.168.100.190:5555"/> 
    <classes>
      <class name="Grid.SeGrPortTest"/>
    </classes>
  </test> <!-- HubNodesExample -->
  
  <test thread-count="5" name="Node2">
  	<parameter name="browser" value="chrome"/>
    <parameter name="port" value="http://192.168.100.194:5005"/> 
    <classes>
      <class name="Grid.SeGrPortTest"/>
    </classes>
  </test> <!-- HubNodesExample -->
  
</suite> <!-- GridSuite -->
